<div class="container m-5 ">
  
    <h3 class="text-center mt-2 pb-3">All Jobs</h3>
    <div class="row">
      <div class="col-lg-10 container input-group mb-3 w-75 mt-3">
        <div class="form-floating">
          <input  [(ngModel)]="jobName" name="search"  type="text" class="form-control" id="searchjob" placeholder="Username">
          <label for="floatingInputGroup1">Search  job by Title</label>
        </div>
        <button  (click)="search()" class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></button>
    
      </div>
      <!-- <div class="col-lg-2 mt-4">
<a routerLink="/jobs/add-jobs">
          <button  class="btn btn-dark p-2"><i class="fa-solid fa-plus"></i> Add Job</button>
  
</a>      </div>
    </div> -->

    <div class="">
      
      <h4 class="py-4 text-center">Job List</h4>

     
      <div class="table-responsive">
        <table class=" table container table-striped table-bordered">
  
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Job Title</th>
              <th scope="col">Company</th>
              <th scope="col">Company Logo URL</th>
              <th scope="col">Job Description</th>
              <th scope="col">Location</th>
              <th scope="col">Job Type</th>
              <th scope="col">Salary</th>
              <th scope="col">Qualification</th>
              <th scope="col">Edit/Delete</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of alljobs | search: jobName: 'jobtitle' | paginate: {itemsPerPage: 4, currentPage: p}  let j = index" id="searchitem" >
              <th scope="row">{{j+1}}</th>
              <td>{{i.jobtitle}}</td>
              <td>{{i.companyname}}</td>
              <td>{{i.companylogourl}}</td>
              <td>{{i.jobdescription}}</td>
              <td>{{i.joblocation}}</td>
              <td>{{i.jobtype==1?'Full Time Jobs':i.jobtype==2?'Part Time jobs':i.jobtype==3?'Work From Home':'Internships'}}</td>
              <td>{{i.monthlysalary}}</td>
              <td>{{i.qualification}}</td>


              <td >
                
                
                <a routerLink="/jobs/edit-jobs/{{i.id}}"><i class="fa-solid fa-pen-to-square text-dark fs-5 pe-2"></i></a> 
                
                <button (click)="removeUser(i.id)" style="border: none;"><i class="fa-solid fa-trash fs-5"></i></button></td>
  
            </tr>

          </tbody>
        </table>

        
      </div>
<div class="mt-5">
        <pagination-controls class="text-center mt-5 text-light" (pageChange)="p = $event"></pagination-controls>
  
</div>
    </div>

</div>